body {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: sans-serif;
    color: black;

}

#layout {
    display: grid;
    grid-template-areas:
        'header header header header'
        'sidebar main main main'
        'sidebar main main main'
        'sidebar main main main'
        'sidebar main main main'
        'footer footer footer footer';
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 10px;
    min-height: 15vh;
}

.sidebar {
    grid-area: sidebar;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
    justify-content: space-around;

}

.main div {
    grid-area: main;
    border: 1px solid black;
    font-size: 3.5vh;
}

.front {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.pic {
    height: 20vh;
    border-radius: 100%;
    transition: all 3s;
}

.pic:hover {
    height: 25vh;
    filter: drop-shadow(20px 10px 2px rgba(59, 83, 93, 0.516));
}

img {
    height: 10vh;
}

.projects {
    direction: rtl;
    background-color: rgba(195, 94, 17, 0.457);

}

.info {
    display: flex;
    align-items: center;

}

.details {
    background-color: aquamarine;
    margin: 0;
}

.gallery {
    background-size: cover;
    animation-name: move;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    height: 40vh;

}

@keyframes move {
    0% {background-image: url(pok.jpg);}
    25%{background-image: url(mohamad.jpg);}
    50%{background-image: url(sasha.jpg);}
    75%{background-image: url(sagu.jpg);}
    100%{background-image: url(valeriia.jpg);}

}


    .footer {
        grid-area: footer;
        background-color: black;
        min-height: 10vh;
        display: flex;
        justify-content: space-around;

    }